/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  min-height: calc(100vh - 300px);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.7);
}
